[Desktop Entry]
Version=1.0
Type=Application
Name=Woodlanders Launcher
Comment=Update and launch the Woodlanders client
Exec=/app/woodlanders-launcher/bin/app
Icon=io.github.gcclinux.woodlanders.launcher
Terminal=false
Categories=Game;
